/* body{
    padding: 0;
    margin: 0;
    border: none;
    height: 100vh;
   
    background: 
    url('https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg')
    no-repeat center center fixed;
  
    background-size: cover;
  
    position: relative;
    
  }
  
  
  
  body::after{
    --filterColor: linear-gradient(-45deg, blue, orange );
    --filterOpacity: 0.2;
  
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    opacity: var(--filterOpacity);
  
    background-size: 200% 200%;
    background-image: var(--filterColor);
  
    animation: filter normal 5s infinite ease-in-out;
  
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  @keyframes filter{
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%;}
  } */
  
  
  /* --------------------------------------------------------- */
  /* Text  */
  /* About PAGEEEEEE */
  
  
  .About1Page{
    font-family: 'Rubik',sans-serif;
    color: #ffffff;
    text-align: center;
    display: flex;
    height: 100vh;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
  }
  


  #About1Page{
    background: url('https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg') no-repeat center center;
    background-size: cover;
    position: relative;
  }
  
  #About1Page::before{
    display: block;
    content: '';
  
    width: 100%;
    height: 100%;
  
    position: absolute;
    left: 0;
    top: 0;
  
    background: #b96a70;
    opacity: .2;
  }




  /* @media screen and (max-width: 599px){
    .home h1{
      font-size: 40px !important;
    }
  } */
  
  
  .About1Page h1{
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 100px;
  color: rgba(0, 0, 0, .2);
  z-index: 1;
  background: center / cover url('./image/Cosmos.jpg') no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  
  width: 65%;
  user-select: none;
  
  animation: fadein 1.5s ease-in-out;
  }
  
  
  
  
  .About1Page h3{
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    
    width: 65%;
    user-select: none;
    z-index: 1;
    animation: fadein 1.5s ease-in-out;
    }
  
  
  @keyframes fadein{
    from {
      transform:translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  




  
  /* ------------------------------------------------------- */
  /* bio */
  
  .Bio{
    background: url('https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg') no-repeat center center;
    background-size: cover;
    position: relative;
  }
  
  


  
  .Bio::before{
    display: block;
    content: '';
    


    width: 100%;
    height: 100%;
  
    position: absolute;
    left: 0;
    top: 0;
  
    opacity: .2;
  
    --filterColor: linear-gradient(-45deg, blue, orange );
    --filterOpacity: 0.3;
  
   
    opacity: var(--filterOpacity);
  
    background-size: 200% 200%;
    background-image: var(--filterColor);
  
    animation: filter normal 5s infinite ease-in-out;
  
    z-index: 0;
  }
  
  @keyframes filter{
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%;}
  }


 
/*   .Bio h1{
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 16px;
  color: rgba(0, 0, 0, .2);
  
  background: center / cover url('./image/Cosmos.jpg') no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  
  width: 55%;
  user-select: none;
  
  animation: fadein 1.5s ease-in-out;
  
 
  
  text-align: center;

  height: 100%;
  width: 100%;

  } */





.Bio img{

  border-radius: 50%;
  z-index: 2;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
}


.Bio{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}


.Bio h1{
  word-wrap: normal;
  padding: 34px;
}



  
  /* ------------------------------------------------------ */
  /* Navigation bar */
  
  
   
  
  html{
    scroll-behavior: smooth;
  }
  
  
  a{
    text-decoration: none;
    color: #ffffff;
    transition: opacity .2s;
  }
  
  a:hover{
    opacity:.6;
  }
  
  section{
    height: 100vh;
  }
  
  
  
  nav{
    display: flex;
    padding: 40px 56px;
    background: transparent;
    user-select: none;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    transition: background .4s, padding .4s;
  }
  
  nav span{
    color: #07dffc;
    font-weight: 700;
    width: 30%;
    padding: 16px;
    font-size: 14px;
  }
  
  nav ul{
    list-style-type: none;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    font-size: 14px;
  }
  
  nav ul li:not(:first-child){
    margin-left: 32px;
  }
  
  nav._fixed{
    background: #121212;
    padding: 10px 10  px;
  }
  
  /* --------------------------------------------------------- */
  /* Clock */
  
  
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
  
  }
  
  #clock p{
    width: 210px;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
    color: lightskyblue;
    font-size: 28px;
    box-shadow: inset 2px 3px 4px rgba(255, 255, 255, .1), 2px 3px 4px rgba(0, 0, 0, .4);
  
  }
  
  .clock2{
    text-align: center;
    width: 40%;
    justify-content: center;
    display: flex;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  